body{
font-family: 'Montserrat', sans-serif;
	width: 100%;
	
}
.bodyal{
	
	
	margin:auto;
	padding-left: 70px;
	padding-right: 70px;
	
	
}
p,li{
	font-size: 20px;
	padding-bottom: 5px;
}

img{
	border: 1px;
	padding-bottom: 20px;
}

#recipehead{
	padding-top:20px;
	padding-bottom: 20px;
	font-size: 45px;
	/*text-decoration: underline;
	text-decoration-color: darkorange;*/
}


.responsive{
			
			width:100%;
			max-width:400px;
			height:auto;
		}


.list1{
	padding-bottom: 10px;
}

#lastpara{
	background-color: grey;
	text-align: center;
	color: white;
	
}


@viewpoint{
	zoom:1.0;
	width:extend-to-zoom;
}
@media screen and (max-width:774px){
	.bodyal{
		width=100%;
	}
}