body{
font-family: 'Montserrat', sans-serif;
	width: 100%;
	
}
#title{
	background-color: darkorange;
	color:#fff;
}

.container-fluid{
	padding:3% 15%;
}
h1{
	font-family: 'Montserrat', sans-serif;

	font-size: 3.7rem;
	font-weight: bold;
	line-height: 1.5;
}
/*nv bar*/
.navbar{
	padding:0 0 2.5rem;
}
.navbar-brand{
	font-family: "Ubantu";
	font-size: 2.5rem;
	font-weight: bold;
	
}
.nav-item{
	padding: 18px;
}
.nav-link{
	font-size: 1.2rem;
	font-family:  'Montserrat', sans-serif;
}
/*buttons*/

.download-button
{
	margin:5% 5% 5% 0;
	
	


}

.img-1{
	width:60%;
	 
}
/*features*/
#features{
	padding:7% 15%;
}
.feature-box{
	text-align: center;
	padding:5%;
	
}
p{
	color: gray;
}
.icon{
	color:darkorange;
	margin-bottom: 1rem;
}
.icon:hover{
	color:orangered;
}
.img2{
	margin-top: 60px;
	margin-bottom: 40px;
	padding-left: 60px;
	
 
	

}
.img3{
	border: 7px #ee7157a057 solid;
	
}
.par{
	
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color:darkorange;
	padding-left: 90px;
	
}
.link1{
	color:black;
	padding-left: 40px;
}
.link1:hover{
	text-decoration:none;
	color:white;
	font-size: 35px;
	
}
#recipies{
	
	width:100%;
	background-color: darkorange;
}
.cordcl{
	background-color: darkorange;
	border: 0;
}

/*tips section*/
#tips1{
	padding: 100px;
	color: black;
	
	
	
}
.pricing-column{
	padding 3% 2%;
	padding-bottom: 20px;
	
	
}

.card-header,.card-body{
	background-color:orange;
	
}
.para1{
	
	color: black;
}
/*footer section*/
#footer{
	
height:110px;
	background-color: grey;
	text-align: center;
	color: white;
}
#footer p{
	color: white;text-align: center;
	padding-top: 20px;
}
.icons{
	padding-top: 20px;
	padding-right:10px;
}
.icons:hover{
	resize: 20px;
}
#lastpara{
	padding-bottom: 10px;
}
@media (min-width=)
